{{define "title"}}No encontrada{{end}}
{{define "jsCss"}}{{end}}
{{define "content"}}
        <h3>Página no encontrada</h3>
        <p>Lo sentimos, no encontramos la página solicitada</p>
{{end}}
{{define "jsBottom"}}{{end}}