
#title_year {
    font-weight: bold;
    font-size: 18px;
}

.sections_available {
    display: compact;
    margin-bottom: 10px;
}

.remove {
    font-size: 12px;
    text-decoration: none;
    margin-left: 5px;
}

.catgs_links_available {
    display: compact;
    margin-bottom: 10px;
}

.awds_links_available {
    display: compact;
    margin-bottom: 10px;
}

.form_available {
    display: inline;
}

fieldset {
    margin-bottom: 10px;
    border: 1px solid;
}
.fieldset_category {
    margin-top: 10px;
}

.title_categories {
    font-size: 14px;
}

.title_awards {
    font-size: 14px;
}

form {
    margin: 0px;
}

.hidden {
    display: none;
}

.awards_inputs {
    margin-top: 10px;
    font-size: 12px;
}

.awards_inputs > label {
    font-size: 12px;
}

.position {
    margin-left: 5px;
    width: 14px;
    text-align: center;
}