.country {
    margin-bottom: 10px;
}

.show_countries {
    border-left: 1px solid #f2f2f2;
    min-height: 600px;
    height: 100%;
    margin-top: 10px;
    padding-left: 15px;
}

.subtitle.bold {
    font-size: 13px;
    font-weight: bold;
}

.div_left {
    float: left;
}

.title {
    margin-top: 10px;
    font-size: 16px;
    text-decoration: underline;
}

.helper {
    font-size: 12px;
}

.optional {
    font-style: oblique;
    font-size: 12px;
    color: #959595;
}
