.link {
    font-size: 12px;
    margin-left: 2px;
}

.title_specialgenre {
    font-size: 12px;
    font-style: oblique;
}

.title_input {
    font-size: 12px;
}
.contener_inputs {
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: -6px;
    border: 1px solid #646464;
}

.wrap_label {
    margin-top: 7px;
    margin-bottom: 7px;
}

.suggester {
    font-size: 13px;
    background-color: #dddddd;
}
.suggest {
    padding: 10px;
    background-color: transparent;
}

.suggest.selected {
    padding: 10px;
    background-color: #CCCCCC;
}

.input_div_editable {
    border: 1px solid #959595;
    margin-top: 2px;
    margin-bottom: 2px;
    height: auto;
    min-height: 26px;
    line-height: 26px;
    font-size: 12px;
    padding-left: 2px;
}

.contener_inputs_hidden {
    visibility: hidden;
    display: none;
}

.content_button {
    display: inline;
}
.inputs_hidden {
    display: inline;
}