.awards {
    margin-top: 10px;
    margin-bottom: 6px;
}

.title_awds {
    font-weight: bold;
}

.add_awd {
    font-size: 12px;
}

.two_column {
    float: left;
    margin-left: 20px;
    width: 250px;
    height: 100%;
}

.two_column > h3 {
    padding-left: 15px;
}

.header4 {
    font-size: 16px;
    font-weight: bold;
}

.show_galas {
    border-left: 1px solid #f2f2f2;
    height: 100%;
    padding-left: 15px;
}

.gala {
    margin-bottom: 10px;
}

.title_gala {
    margin-top: 5px;
    font-weight: bold;
}

.title_each {
    margin-top: 5px;
}

.title_each > span {
    font-style: oblique;
}

.single_select {
    width: 656px;
    margin-bottom: 10px;
    margin-top: 4px;
}

.first_select {
    float: left;
    width: 315px;
    margin-bottom: 10px;
    margin-top: 4px;
}

.inter_select {
    font-size: 12px;
    float: left;
    margin-left: 6px;
    margin-right: 7px;
    margin-bottom: 10px;
    margin-top: 6px;
    font-style: oblique;
}

.two_select {
    width: 315px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 4px;
    margin-right: -10px;
}

.select_country {
    margin-right: 10px;
}

.link_add_Ceremony {
    font-size: 12px;
    margin-left: 10px
}

.wrap_link {
    margin-top: 5px;
}

.link {
    font-size: 12px;
    margin-left: 2px;
}

.link2 {
    font-size: 14px;
}

.content {
    padding: 15px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}


.content_last {
    padding: 15px;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.content_last3 {
    padding: 15px 15px 15px 15px;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.content_last2 {
    padding: 0px 15px 15px 15px;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    margin-bottom: 50px;
}

.content_header {
    padding: 15px;
    background-color: #f2f2f2;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}


.contener > span {
    margin-right: 5px;
    text-decoration: none;
    font-size: 12px;
    border-bottom: 1px solid #232323;
}

.contener > input {
    font-family: sans-serif;
    border: 1px solid #dddddd;
    font-size: 14px;
    width: 275px;
    padding: 3px;
    margin: 0px;
    margin-right: 8px;
    margin-top: 4px;
}


.contener {
    margin-top: 0px;
    margin-bottom: 5px;
}

.contener_input {
    margin-top: 10px;
}

.contener_input > input {
    font-family: sans-serif;
    font-size: 14px;
    width: 275px;
    margin: 0px;
    margin-right: 8px;
    margin-top: 4px;
}
