.two_column {
    float: left;
    margin-left: 20px;
    width: 300px;
    height: 100%;
}

.two_column > h3 {
    padding-left: 15px;
}

.title {
    margin-top: 5px;
    font-weight: bold;
}

.sub_title {
    font-size: 12px;
    font-weight: bold;
}

.genre {
    margin-bottom: 10px;
}

.show_genres {
    border-left: 1px solid #f2f2f2;
    height: 100%;
    padding-left: 15px;
}

.type {
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 13px;
}

.title_each > span {
    font-style: oblique;
    font-size: 13px;
}

.link {
    font-size: 12px;
}

.panel_right {
    border-left: 1px solid #f2f2f2;
    min-height: 600px;
    height: 100%;
    margin-top: 10px;
    padding-left: 15px;
}

.row_panel_right {
    margin-bottom: 5px;
}