{{define "title"}}Vitra > Film > [add-edit]{{end}}
{{define "jsCss"}}
    <script src="/static/scripts/js/vitra/film_add.js"></script>
    <link rel="stylesheet" href="/static/styles/vitra/film_add.css">
    <link rel="stylesheet" href="/static/styles/vitra/cinema_add_edit.css">
    <link rel="stylesheet" href="/static/styles/vitra/two_column_add_edit.css">
{{end}}
{{define "jsBottom"}}
    <script src="/static/scripts/js/global/init_search_input_es.js"></script>
    <script src="/static/scripts/js/utils/form2js.js"></script>
    <script type="application/dart" src="/static/scripts/js/vitra/example.dart"></script>
{{end}}
{{define "content"}}
<h3 style="margin-bottom: 0px"><span>VITRA CMS</span> > Cinema > Metraje > Añadir</h3>

<div style="margin-top: 5px; width: 100%">
<div style="width: 650px; float: left" id="left_column">
<h3>Añadir un metraje</h3>
<div id="contener_actions_edit" style="margin-top: 25px; display: none">
    <h4 id="title_item_edit" style="float: left; margin-top: 5px"></h4>
    <input style="float: left; margin-left: 8px" class="input_cancel" id="button_cancel_edit" type="button" value="CANCELAR"/>
    <form data-form-type="form_delete" style="float: left" name="submit" action="{{.urlForm}}" method="post">
        <input id="id_item_to_delete" type="hidden" name="delete" value=""/>
        <input class="input_delete" type="submit" value="ELIMINAR"/>
    </form>
</div>
<form name="submit" style="clear: left" action="{{.urlForm}}" method="post" enctype="multipart/form-data">
    <div class="wrap_label">
        <label><strong>Tipo de formato</strong></label><br/>
        <div class="contener_inputs">
            <select id="select_format" name="add.type.format" style="width: 100%" required>
                <option value="">SELECCIONE UNA OPCIÓN</option>
                {{with .db_formatandothers.format}}
                    {{range .}}
                        <option value="{{._id}}" {{if $ok := .episodes}}data-episodes="true"{{else}}{{end}}>{{if $ok := .name.es}}{{.name.es}}{{else}}{{.name.en}}{{end}}</option>
                    {{end}}
                {{end}}
            </select>
        </div>
    </div>
    <div class="wrap_label">
        <label><strong>Tipo de categoría</strong></label><br/>
        <div class="contener_inputs">
            <select id="select_category" name="add.type.category._id" style="width: 100%" required>
                <option value="">SELECCIONE UNA OPCIÓN</option>
                {{with .db_formatandothers.category}}
                {{range .}}
                <option value="{{._id}}" {{if $ok := .episodes}}data-episodes="true"{{else}}{{end}} required>{{if $ok := .name.es}}{{.name.es}}{{else}}{{.name.en}}{{end}}</option>
                {{end}}
                {{end}}
            </select>
            <div id="conteners_subcategories" style="margin-top: 5px; display: none">
                <div id="contener_style" style="display: none">
                    <span style="font-size: 13px; font-weight: bold">Estilos</span>
                    <div id="contener_inputs_styles"></div>
                </div>
                <div id="contener_tecnic" style="display: none; margin-top: 2px">
                    <span style="font-size: 13px; font-weight: bold">Técnicas</span>
                    <div id="contener_inputs_tecnics"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="wrap_label">
        <label><strong>Tipo de producción</strong></label><br/>
        <div class="contener_inputs">
            {{with .db_formatandothers.production}}
            {{range .}}
            <label class="box_span_label"><input class="checkbox_type_production" type="checkbox" name="add.type.production[]" value="{{._id}}">{{if $ok := .name.es}}{{.name.es}}{{else}}{{.name.en}}{{end}}</label>
            {{end}}
            {{end}}
        </div>
    </div>
    <div class="wrap_label">
        <label><strong>Otros</strong></label><br/>
        <div class="contener_inputs">
            <label class="box_span_label"><input class="checkbox_others" type="checkbox" value="b&w" name="add.others[]"/>Blanco y negro</label>
            <label class="box_span_label"><input class="checkbox_others" type="checkbox" value="cult" name="add.others[]"/>De culto</label>
        </div>
    </div>
    <div class="wrap_label">
        <label><strong>Clasificación</strong></label><br/>
        <div class="contener_inputs">
            <select style="width: 100%" id="select_classification" name="add.classification">
                <option value="">SELECCIONE UNA OPCIÓN</option>
                <!-- AQUI FOR -->
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="wrap_label">
        <label><strong>Título</strong></label> <span class="helper"> • Marque cual es el título original</span><br/>
        <select id="select_new_title"></select>
        <a href="" class="link" id="new_title">añadir</a><br/>
        <div class="contener_inputs" id="contener_titlelang">
            <div class="title_film" data-default="true" id="es_ES"><label class="title_input"><input class="radio_titlelang_original" type="radio" name="add.title.original" value="es_ES" required/> España </label><input class="input_titlelang" style="width: 500px" type="text" name="add.title.es_ES" placeholder="Saw"/></div>
            <div class="title_film" data-default="true" id="es_MX"><label class="title_input"><input class="radio_titlelang_original" type="radio" name="add.title.original" value="es_MX" required/> México </label><input class="input_titlelang" style="width: 500px" type="text" name="add.title.es_MX" placeholder="Juego macabro"/></div>
            <div class="title_film" data-default="true" id="es_AR"><label class="title_input"><input class="radio_titlelang_original" type="radio" name="add.title.original" value="es_AR" required/> Argentina </label><input class="input_titlelang" style="width: 500px" type="text" name="add.title.es_AR" placeholder="El juego del miedo"/></div>
            <div class="title_film" data-default="true" id="en_US"><label class="title_input"><input class="radio_titlelang_original" type="radio" name="add.title.original" value="en_US" required/> Estados Unidos </label><input class="input_titlelang" style="width: 500px" type="text" name="add.title.en_US" placeholder="Saw"/></div>
            <div class="title_film" data-default="true" id="en_GB"><label class="title_input"><input class="radio_titlelang_original" type="radio" name="add.title.original" value="en_GB" required/> Reino Unido </label><input class="input_titlelang" style="width: 500px" type="text" name="add.title.en_GB" placeholder="Saw"/></div>
        </div>
    </div>
    <div class="wrap_label">
        <label><strong>Fecha de Estreno</strong>
            <select id="select_new_release">
            </select></label>
        <a href="" class="link" id="new_release">añadir</a><br/>
        <div class="contener_inputs" id="contener_releasecountry">
            <div class="release_film" data-default="true" id="ES"><label class="title_input">España <input class="input_releasecountry" style="width: 500px"type="date" id="ES" name="add.release.ES"/></label></div>
            <div class="release_film" data-default="true" id="US"><label class="title_input">Estados Unidos <input class="input_releasecountry" style="width: 500px"type="date" id="US" name="add.release.US"/></label></div>
            <div class="release_film" data-default="true" id="GB"><label class="title_input">Reino Unido <input class="input_releasecountry" style="width: 500px" type="date" id="GB" name="add.release.GB"/></label></div>
        </div>
    </div>
    <div class="wrap_label">
        <label><strong>Año</strong><br/>
            <div class="contener_inputs">
                <input style="width: 99%" type="number" id="year" name="add.year" required/>
            </div></label>
    </div>
    <div class="wrap_label">
        <label><strong>Duración (en min.)</strong></label>
        <div id="cont_duration_cut">
            <select id="select_new_cut_version"></select> <a href="" class="link" id="new_cut_version">añadir</a><br/>
            <div class="contener_inputs"  id="contener_cutversion">
                <div class="cutversion_film" data-default="true" id="">
                    <select id="select_cut_default" name="add.duration[0].type_cut">
                        <option class="option_cutversion" value=""></option>
                    </select>
                    <input class="input_duration" id="input_cut_default" style="width: 40px" type="number" name="add.duration[0].minutes" required/>
                </div>
            </div>
        </div>
        <div id="cont_duration_episode" style="display: none">
            <div class="contener_inputs" id="contener_episode">
                <div class="cutversion_film" data-default="true">
                    <label class="helper">Por episodio:</label>
                    <input class="input_duration" style="width: 40px" type="number" id="each_episode" name="add.duration.each_episode" disabled/>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap_label">
        <label><strong>País</strong></label><br/>
        <div class="contener_inputs">
            <select id="select_new_country" style="width: 99%" id="countries" class="select_country" name="add.country" required>
                <option value="">SELECCIONE UN PAIS</option>
            </select>
        </div>
    </div>
    <div class="suggester" id="suggester" role="menu" tabindex="0" style="display: none; -webkit-user-select: none"></div>
    <div class="wrap_label">
        <label><strong>Equipo</strong></label>
        <div class="contener_inputs" id="contener_crew">
            <label class="title_input">Director<br/></label>
            <div class="input_div_editable" style="width: 99%" role="textbox" contenteditable="true" id="director" name="crew" data-id="crew.director"></div>
            <div id="crew.director" class="contener_inputs_hidden"></div>
            <div>
                <div style="float: left">
                    <label class="title_input">Guión<br/></label>
                    <div class="input_div_editable" style="width: 230px; float: left" role="textbox" contenteditable="true" id="screenwriter" name="crew" data-id="crew.screenwriter"></div>
                    <div id="crew.screenwriter" class="contener_inputs_hidden"></div>
                </div>
                <div>
                    <label class="title_input" style="margin-left: 4px">Basado en un libro</label><br/>
                    <div class="input_div_editable" style="width: 390px; float: left; margin-left: 4px" role="textbox" contenteditable="true" id="book" name="book" data-id="crew.book"></div>
                    <div id="crew.book" class="contener_inputs_hidden"></div>
                </div>
            </div>
            <div style="clear: left">
                <label class="title_input">Música<br/></label>
                <div class="input_div_editable" style="width: 99%" role="textbox" contenteditable="true" id="music" name="crew" data-id="crew.music"></div>
                <div id="crew.music" class="contener_inputs_hidden"></div>
            </div>
            <label class="title_input">Fotografía<br/></label>
            <div class="input_div_editable" style="width: 99%" role="textbox" contenteditable="true" id="photography" name="crew" data-id="crew.photography"></div>
            <div id="crew.photography" class="contener_inputs_hidden"></div>
            <label class="title_input">Reparto<br/></label>
            <div class="input_div_editable" style="width: 99%" role="textbox" contenteditable="true" id="cast" name="crew" data-id="crew.cast"></div>
            <div id="crew.cast" class="contener_inputs_hidden"></div>
            <label class="title_input">Productora<br/></label>
            <div class="input_div_editable" style="width: 99%" role="textbox" contenteditable="true" id="producer" name="crew" data-id="crew.producer"></div>
            <div id="crew.producer" class="contener_inputs_hidden"></div>
        </div>
    </div>
    <div class="wrap_label">
        <label><strong>Géneros</strong></label>
        <div class="contener_inputs">
            <div>
                <label class="helper">Generales</label><br/>
                <!-- AQUI FOR -->
                <label class="box_span_label"><input data-type="generals" class="checkbox_genre" type="checkbox" name="add.genres.generals[]" id="" value=""/></label>
                <label class="box_span_label"><input data-type="generals" class="checkbox_genre" type="checkbox" name="add.genres.generals[]" id="" value=""/></label>
            </div>
            <div id="specials_genres"></div>
        </div>
    </div>
    <div class="wrap_label">
        <label><strong>Topics</strong></label><br/>
        <div class="contener_inputs">
            <!-- AQUI FOR -->
            <label class="box_span_label"><input class="checkbox_topic" type="checkbox" name="add.topics[]" value=""/></label>
            <label class="box_span_label"><input class="checkbox_topic" type="checkbox" name="add.topics[]" value=""/></label>
        </div>
    </div>
    <div class="wrap_label">
        <label><strong>Web Oficial</strong><br/>
            <div class="contener_inputs">
                <input style="width: 99%" id="website" type="url" name="add.website"/>
            </div></label>
    </div>
    <div class="wrap_label">
        <label><strong>Sinopsis</strong><br/>
            <div class="contener_inputs">
                <textarea style="" name="add.sinopsis" id="sinopsis" cols="87" rows="10"></textarea>
            </div></label>
    </div>
    <div class="wrap_label">
        <label><strong>Trailer</strong><br/>
            <div class="contener_inputs">
                <input style="width: 99%" type="text" id="trailer" name="add.trailer"/>
            </div></label>
    </div>
    <div class="wrap_label">
        <label><strong>Curiosidades</strong>
            <a href="" class="link" id="new_release">nueva</a><br/>
            <div id="cont_curiosities" class="contener_inputs">
                <input style="width: 99%" type="text" name="add.curiosities"/>
            </div>
        </label>
    </div>
    <div class="wrap_label">
        <label><strong>Cartel</strong>
            <div class="contener_inputs">
                <input class="file" type="file" id="cartel" name="add.cartel" value="Choose image">
            </div></label>
    </div>
    <input style="margin-top: 20px" type="submit" value="Publicar"/>
    <div id="input_item_to_edit"></div>
</form>
</div>
<div class="two_column">
    <h3>Buscar película</h3>
    <div class="panel_right">
        <div class="suggester" id="suggester" role="menu" tabindex="0" style="display: none; -webkit-user-select: none"></div>
        <div class="row_panel_right">
            <input id="search_film" type="text" style="width: 80%" placeholder="buscar por ID, titulo original o título de otro país"/>
        </div>
    </div>
</div>
</div>
{{end}}