{{define "article"}}
    <h2><a style="text-decoration: none;" href="{{if .CheckFields.url}}{{.URL}}{{end}}">{{.Title}}</a></h2>
    <div style="margin-top: -13px">
        <span>{{.Last_message_published}} | por <ins>{{.Author}}</ins></span> | <strong>{{.Length_comment}}</strong> Comentarios<br/>
        <div style="margin-top: 10px">
            <img src="/static/images/news/{{.Image}}" alt="{{.Title}}"/>
        </div>
        <p style="font-size: 13px; margin-top: 10px">{{.Preview}}</p>
        {{if .CheckFields.body}}
        <p style="font-size: 13px; margin-top: 10px">{{.Body}}</p>
        {{end}}
    </div>
{{end}}