{{define "base"}}
<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <title>Monoculum - {{template "title" .}}</title>
    {{template "jsCss" .}}
    <link rel="stylesheet" href="/static/styles/global.css"/>
    <script src="/static/scripts/js/modernizr.js"></script>
    <script src="/static/scripts/js/layout.js"></script>
</head>
<body>
<div>
    <div style="margin-top: -22px; margin-bottom: -26px">
        <h1 style="font-family: serif; font-size: 50px">MONOCULUM</h1>
    </div>
    <div style="border-bottom: 4px solid black; padding-bottom: 10px">
        <a class="link_menu" href="/">Inicio</a> |
        <a class="link_menu" href="/forums">Foros</a> |
        <a class="link_menu" href="/films">Films</a> |
        <a class="link_menu" href="/galas">Certamens</a> |
        <a class="link_menu" href="/vitra">Vitra/CMS</a> |
        <a class="link_menu" href="/banned">Banear</a>

        <span style="margin-left: 10px">
            <span name="login_logout">
                <!-- Poner aqui logueo -->
                <span id="loader"></span>
            </span>
        </span>
    </div>
    <div id="contener">
        {{template "content" .}}
    </div>
</div>
{{template "jsBottom" .}}
</body>
</html>
{{end}}