body {
    font-family: sans-serif;
}

hr {
    border: 1px solid black;
}

a {
    color: #151515;
}

a:visited {
    color: #151515;
}

a:hover {
    color: black;
}

.link_delete {
    font-size: 12px;
}

.input_delete {
    border: 1px solid red;
    background-color: rgba(255, 17, 17, 0.20);
    color: red;
}

.input_cancel {
    border: 1px solid red;
    background-color: rgba(255, 17, 17, 0.20);
    font-size: 11px;
    padding: 3px;
    color: red;
}

.sub_link {
    font-size: 10px;
}

.suggester {
    font-size: 13px;
    background-color: #dddddd;
}
.suggest {
    padding: 10px;
    background-color: transparent;
}

.suggest.selected {
    padding: 10px;
    background-color: #CCCCCC;
}

.link_menu {
    font-weight: bold;
}

.link_vitra_menu {
    font-size: 14px;
}

.box_span_label {
    border: 1px solid #dddddd;
    padding: 5px;
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 12px;
}