{{define "title"}}Vitra{{end}}
{{define "jsCss"}}{{end}}
{{define "content"}}
<div style="margin-top: 20px">
    <h3 style="margin: 2px 0px 2px 0px; color: #232323">NOTICIAS</h3>
    <div style="margin: 6px 0px 0px 0px"><span><a class="link_vitra_menu" href="{{.News}}">Noticias</a></span></div>
</div>

<div style="border-top: 1px solid #e9e9e9; margin-top: 10px">
    <h3 style="margin: 10px 0px 2px 0px; color: #232323">FILMS</h3>
    <h4 style="margin: 6px 0px 2px 0px">Film</h4>
    <span><a class="link_vitra_menu" href="{{.Film}}">Metraje</a></span>
    <span><a class="link_vitra_menu" href="{{.EpisodieInFilm}}">Episodio en un metraje</a></span>
    <span><a class="link_vitra_menu" href="{{.Saga}}">Saga</a></span>
    <h4 style="margin: 6px 0px 2px 0px">General</h4>
    <span><a class="link_vitra_menu" href="{{.FormatAndOthers}}">Formato/categoría/producción</a></span>
    <span><a class="link_vitra_menu" href="{{.GenresTopics}}">Género/topic</a></span>
    <span><a class="link_vitra_menu" href="{{.CutVersion}}">Montaje/versión (Editing/cut)</a></span>
    <span><a class="link_vitra_menu" href="{{.Classification}}">Clasificación</a></span>
    <h4 style="margin: 6px 0px 2px 0px">Profesionales y ocupaciones</h4>
    <span><a class="link_vitra_menu" href="{{.Professional}}">Profesional</a></span>
    <span><a class="link_vitra_menu" href="{{.Occupation}}">Ocupación</a></span>
    <h4 style="margin: 6px 0px 2px 0px">Libros</h4>
    <span><a class="link_vitra_menu" href="{{.Book}}">Libro</a></span>
    <h4 style="margin: 6px 0px 2px 0px">Certamens</h4>
    <span><a class="link_vitra_menu" href="{{.Gala}}">Gala</a></span>
    <span><a class="link_vitra_menu" href="{{.TypeGala}}">Tipo de gala</a></span>
</div>

<div style="  border-top: 1px solid #e9e9e9; margin-top: 10px">
    <h3 style="margin: 10px 0px 2px 0px; color: #232323">GENERAL</h3>
    <div style="margin: 6px 0px 0px 0px"><span><a class="link_vitra_menu" href="{{.CountriesAndCities}}">Paises y ciudades</a></span></div>
</div>
{{end}}
{{define "jsBottom"}}{{end}}